<%- include("header") -%>
<body>
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>
    <div class="box">
        <div class="item">
            <% for (var i = 0; i < newItemsAdd.length; i++) { %>
                <p><input type="checkbox"> 
                <label for=""><%= newItemsAdd[i] %></label></p>
            <% } %>
        </div>
        <form class=""  action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value= <%= listTitle%>>+</button> 
        </form>
    </div>
<%- include("footer") -%>
    